@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

body {
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  color: #4F5662;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 5rem;
}

section {
  position: relative;
}

.header {
  position: relative;
  padding-bottom: 8.5rem;
  z-index: 10;
  background: url("../img/header/header-bg.jpg") center/cover no-repeat;
}

.header-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.header-wrapper .wave_m {
  display: none;
  position: absolute;
  bottom: 5%;
  left: -3%;
  width: 150px;
}

.header__burger {
  position: relative;
  height: 32px;
  width: 50px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4F5662;
  border-radius: 10px;
}

.header__burger::after,
.header__burger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #4F5662;
  border-radius: 10px;
}

.header__burger::after {
  left: 0;
  top: 0;
}

.header__burger::before {
  width: 70%;
  right: 0;
  bottom: 0;
}

.header__menu {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 80px;
  background-color: #4FBEE4;
  padding: 18px 27px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__menu.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list li {
  margin-bottom: 30px;
}

.header__link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.header__link:hover {
  color: #4F5662;
  text-decoration: underline;
  font-weight: 700;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__prizes {
  position: absolute;
  bottom: -15%;
  z-index: 2;
  left: 100%;
  width: 80%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__prizes_m {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__img {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__img-bottle {
  width: 100%;
}

.hero__text {
  position: relative;
  z-index: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 10px;
  margin-left: 3rem;
  width: 50%;
  background: url("../img/header/girl.png") bottom right/90% no-repeat;
}

.hero__title {
  font-size: 5.5rem;
  line-height: 6.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__subtitle {
  display: block;
  font-size: 5.5rem;
  text-transform: lowercase;
  line-height: 6.5rem;
  color: #4FBEE4;
  margin-bottom: 3rem;
}

.hero__action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 2.5rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: #fff;
  background-color: #4FBEE4;
}

.hero__action strong {
  text-transform: uppercase;
}

.hero__wave {
  position: absolute;
  right: -4%;
  top: 23%;
  z-index: 0;
}

.btn-contact {
  padding: 12px 17px;
  font-size: 1.4rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#33A0DE), to(#1B55DC));
  background: -o-linear-gradient(top, #33A0DE 0%, #1B55DC 100%);
  background: linear-gradient(180deg, #33A0DE 0%, #1B55DC 100%);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn-contact:active {
  color: #fff;
}

.btn-contact:hover {
  background: none;
  background-color: #4FBEE4;
}

.btn-mobile {
  display: none;
}

.support {
  padding-top: 13.1rem;
  margin-bottom: 15rem;
}

.support-wrapper {
  background: url("../img/support/support-bg.jpg") right top/80% no-repeat;
}

.support__content {
  max-width: 70%;
}

.support__title {
  font-size: 17.9rem;
  font-weight: 700;
  color: #4FBEE4;
}

.support__subtitle {
  font-size: 3rem;
  color: #4FBEE4;
  text-transform: uppercase;
}

.support__discription {
  font-size: 3rem;
}

.support__figure {
  position: absolute;
  right: -5%;
  top: 30%;
  width: 30%;
}

.support__step {
  background: -o-linear-gradient(359.58deg, #50C6EE 0%, rgba(253, 254, 255, 0) 70%) center no-repeat;
  background: linear-gradient(90.42deg, #50C6EE 0%, rgba(253, 254, 255, 0) 70%) center no-repeat;
  background-size: 100% 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
  padding-left: 20px;
}

.support__step-number {
  font-size: 5rem;
  color: #fff;
  opacity: 0.5;
  margin-right: 10px;
}

.support__step-discription {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-left: 15px;
}

.support__step-discription em {
  color: #4FBEE4;
}

.support .btn-contact {
  text-align: center;
  display: block;
  margin-left: auto;
  width: 35%;
  padding: 17px 0;
}

.create {
  background: url("../img/create/create-bg.jpg") top/cover no-repeat;
  padding-bottom: 17rem;
  padding-top: 8rem;
}

.create-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.create__image {
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__banner {
  width: 100%;
  margin-bottom: 10px;
}

.create__prizes {
  width: 100%;
  background-color: #ffffff8e;
}

.create__title {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.create__discription {
  color: #4F5662;
  font-size: 1.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.create__discription .everyone_know {
  font-size: 1.6rem;
  color: #22586B;
  background-color: #fff;
  margin-left: 35px;
  padding: 10px;
}

.create__discription .btn-contact {
  width: 30%;
  margin: 15px 0;
  margin-left: auto;
}

.create__discription .rule {
  font-size: 1.8rem;
  color: #22586B;
}

.create__discription h4 {
  margin-top: 25px;
  font-size: 3rem;
  color: #22586B;
}

.create__discription .rules {
  margin-top: 2.6rem;
  padding: 2.2rem;
  background: -o-linear-gradient(359.56deg, #ffffff93 0.5%, rgba(255, 255, 255, 0) 162.72%);
  background: linear-gradient(90.44deg, #ffffff93 0.5%, rgba(255, 255, 255, 0) 162.72%);
  color: #22586B;
  font-size: 1.7rem;
}

.create__discription .rules h5 {
  font-weight: 700;
  font-size: 2.4rem;
}

.create__discription .rules span {
  margin-top: 3.9rem;
  display: block;
  position: relative;
  text-align: center;
}

.create__discription .rules span::before {
  content: '';
  position: absolute;
  left: 0;
  top: -25%;
  height: 25px;
  width: 25px;
  background: url(../img/create/icons/ins.svg);
}

.create__discription .rules ul {
  margin-top: 20px;
}

.create__discription .rules .li {
  text-align: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  font-size: 1.7rem;
}

.create__discription .rules .li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
}

.create__discription .rules .li-0::before {
  background: url(../img/create/icons/0.svg);
}

.create__discription .rules .li-1::before {
  background: url(../img/create/icons/1.svg);
}

.create__discription .rules .li-2::before {
  background: url(../img/create/icons/2.svg);
}

.create__discription .rules .li-3::before {
  background: url(../img/create/icons/3.svg);
}

.create__discription .rules .li-4::before {
  background: url(../img/create/icons/4.svg);
}

.create__discription .rules .li-5::before {
  background: url(../img/create/icons/5.svg);
}

.create__item {
  color: #fff;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 30px;
}

.create__item:last-child {
  margin-bottom: 0;
}

.create__choice-title {
  font-size: 2.4rem;
  color: #4FBEE4;
  margin-bottom: 22px;
}

.create__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.create__images-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.create__images-item .create__image-frame {
  display: inline-block;
  padding: 10px;
  background-color: #4FBEE4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.create__images-item .create__image-frame img {
  width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.create__images-item span {
  margin-top: 10px;
  font-size: 1.6rem;
  color: #4FBEE4;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
}

.create__images-item.active .create__image-frame {
  background: -webkit-gradient(linear, left top, left bottom, from(#33A0DE), to(#1B55DC));
  background: -o-linear-gradient(top, #33A0DE 0%, #1B55DC 100%);
  background: linear-gradient(180deg, #33A0DE 0%, #1B55DC 100%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.create__images-item.active .create__image-frame img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.create__images-item.active span {
  color: #1B55DC;
  text-decoration: underline;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.move {
  padding-bottom: 20rem;
  background: url("../img/move/move-lady.jpg") right top/30% no-repeat;
}

.move__title {
  display: inline-block;
  font-size: 17.9rem;
  font-weight: 700;
  color: #4FBEE4;
}

.move__subtitle {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 30px;
}

.move__subtitle strong {
  color: #4FBEE4;
}

.move .move-conditions {
  max-width: 70%;
}

.move .move__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 30px;
  min-height: 91px;
  border: 1px solid #4FBEE4;
  margin-left: 45px;
}

.move .move__condition-circle {
  position: absolute;
  left: -45px;
  top: 0;
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background-color: #4FBEE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.move .move__condition-discription {
  font-size: 1.8rem;
  padding-left: 75px;
  padding-right: 30px;
}

.move .move__condition-icon {
  width: 100%;
}

.move .btn-contact {
  text-align: center;
  display: block;
  margin-left: auto;
  width: 35%;
  padding: 17px 0;
}

.fond {
  padding-top: 44px;
  background: url("../img/fond/fond-bg.jpg") center/cover no-repeat;
}

.fond__title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4FBEE4;
}

.fond__prizes-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fond__prizes-follow {
  font-size: 2.4rem;
  margin-right: 1rem;
  color: #4FBEE4;
}

.fond__prizes-telesport {
  max-width: 100%;
}

.fond__prizes-img {
  width: 100%;
}

.fond__prizes-img.mobile {
  display: none;
}

.fond .btn-contact {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-top: -70px;
  margin-right: 20%;
  margin-bottom: 90px;
  font-size: 2.2rem;
  width: 35%;
  padding: 18px 0;
}

.about {
  margin-top: 15rem;
}

.about__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #4FBEE4;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__logo {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__logo span {
  text-align: center;
  font-size: 2.8rem;
}

.about__logo img {
  width: 100%;
}

.about__discription {
  max-width: 50%;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-left: 30px;
}

.about__swimmer {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30%;
  width: 20%;
}

.about__wave {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 70%;
}

.doc {
  margin-top: 15rem;
}

.doc__title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #4FBEE4;
  margin-bottom: 35px;
}

.doc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doc__item-icon {
  margin-right: 14px;
}

.doc__item-discription {
  font-size: 1.8rem;
  color: #4F5662;
}

.doc__item-discription:active {
  color: #4F5662;
}

.organisation {
  margin-top: 15rem;
  position: relative;
  z-index: 2;
}

.organisation__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: #4FBEE4;
  margin-bottom: 35px;
}

.organisation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.organisation__adress {
  margin-bottom: 2rem;
}

.organisation__adress-discription {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.organisation__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.organisation__contacts-number {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #4F5662;
  text-decoration: none;
}

.organisation__contacts-number:active {
  color: #4F5662;
}

.organisation__icon {
  margin-right: 1rem;
}

.organisation__logo-wrapper {
  min-height: 6rem;
  margin-bottom: 3.5rem;
}

.organisation__logo.GOR {
  height: 4.5rem;
}

.organisation__logo.USM {
  height: 6rem;
}

.organisation__item {
  border: 2px solid #4FBEE4;
  padding: 18px 5rem;
}

.organisation__item.second {
  margin-left: 10rem;
}

.organisation .up {
  position: absolute;
  left: 0;
  z-index: 1;
  top: -40%;
  width: 15%;
}

.footer {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#83DBFA), to(rgba(79, 190, 228, 0)));
  background: -o-linear-gradient(bottom, #83DBFA 0%, rgba(79, 190, 228, 0) 100%);
  background: linear-gradient(0deg, #83DBFA 0%, rgba(79, 190, 228, 0) 100%);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.footer__logo span {
  text-align: center;
  font-size: 2rem;
}

.footer__logo img {
  width: 100%;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 12px;
  line-height: 25px;
  color: #4F5662;
  text-decoration: none;
}

.footer__link:active {
  color: #4F5662;
}

.footer__link:hover {
  text-decoration: underline;
  font-weight: 700;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 23%;
}

.footer__adress-discription {
  font-size: 14px;
  line-height: 2.2rem;
}

.footer__icon {
  width: 70%;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.footer__contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts-number {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #4F5662;
  text-decoration: none;
  font-weight: 700;
}

.footer__contacts:active {
  color: #4F5662;
}

.contacts_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_icon {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.contact_icon.fb {
  margin-right: 0;
}

.hero {
  position: relative;
}

.hero .contacts_icons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 10%;
}

.hero .contacts_icons .contact_icon {
  margin-right: 0;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }

  .hero__subtitle {
    font-size: 5rem;
  }

  .hero__wave {
    display: none;
  }
}

@media (max-width: 997px) {
  .move .btn-contact {
    margin: auto;
    margin-top: -50px;
    width: 50%;
  }
}

@media (max-width: 991px) {
  .header__prizes {
    bottom: -18%;
  }

  .hero__text {
    background: url("../img/header/girl.png") bottom right/75% no-repeat;
    margin-top: 0;
  }

  .hero__title {
    font-size: 4.5rem;
  }

  .hero__subtitle {
    font-size: 4rem;
    line-height: 5rem;
  }

  .hero__action {
    font-size: 3rem;
  }

  .create-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .create__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
  }

  .create__prizes {
    display: none;
  }

  .create__discription {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }

  .create__discription .everyone_know {
    margin: 0;
  }

  .create__discription .btn-contact {
    margin: 15px auto;
    width: 50%;
  }

  .create__rules {
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .create__images {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .create__images-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    width: 50%;
  }

  .move {
    background: url("../img/move/move-lady.jpg") right top/40% no-repeat;
  }

  .move__subtitle {
    display: block;
    margin-left: 0;
  }

  .move .move-conditions {
    max-width: 100%;
    margin-top: 130px;
  }

  .move .move__condition {
    margin-left: 0;
    margin-bottom: 80px;
  }

  .move .move__condition-circle {
    width: 59px;
    height: 59px;
    top: -64px;
    left: 50%;
    padding: 10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .move .move__condition-discription {
    text-align: center;
    padding-left: 30px;
  }

  .fond .btn-contact {
    margin-top: -50px;
  }

  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__logo {
    width: auto;
    margin-bottom: 20px;
  }

  .about__discription {
    margin: 0;
    max-width: 100%;
    margin-top: 30px;
  }

  .about__swimmer {
    position: relative;
    width: auto;
    display: block;
    margin: auto;
  }

  .about__wave {
    display: none;
  }

  .organisation .up {
    display: none;
  }

  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-links {
    width: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__adress {
    max-width: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }

  .footer__contacts-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__contacts-wrapper .btn-contact {
    width: 35%;
    text-align: center;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .footer__contacts-wrapper .btn-contact {
    width: 75%;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }

  .header {
    padding-bottom: 14rem;
  }

  .header-wrapper .wave_m {
    display: block;
  }

  .header__prizes {
    display: none;
    left: 20%;
    bottom: 0;
    margin-top: -35%;
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__prizes_m {
    display: block;
    width: 100%;
  }

  .hero-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
  }

  .hero__text {
    background: url("");
    width: 100%;
    text-align: center;
  }

  .hero__title {
    font-size: 5rem;
  }

  .hero__subtitle {
    font-size: 4.5rem;
  }

  .hero__action {
    margin-top: 40px;
  }

  .btn-contact {
    display: none;
    font-size: 2rem;
  }

  .btn-mobile {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 70%;
  }

  .support {
    padding-top: 5.1rem;
    margin-bottom: 7rem;
  }

  .support__content {
    max-width: 100%;
  }

  .support__figure {
    display: none;
  }

  .support__step {
    background-size: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .support__step-discription {
    width: 100%;
    display: block;
    text-align: center;
  }

  .support .btn-contact {
    width: 100%;
  }

  .create {
    padding-bottom: 7rem;
  }

  .create__image {
    width: 100%;
  }

  .create__discription .btn-contact {
    margin: 15px 0;
    width: 100%;
    padding: 10px 0;
  }

  .move {
    padding-bottom: 7rem;
  }

  .move .btn-contact {
    width: 100%;
  }

  .fond__prizes-img {
    display: none;
  }

  .fond__prizes-img.mobile {
    display: block;
  }

  .fond .btn-contact {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
  }

  .doc-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .doc__item {
    margin-bottom: 30px;
  }

  .organisation-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .organisation__logo-wrapper {
    margin-bottom: 2rem;
  }

  .organisation__item {
    margin-bottom: 25px;
  }

  .organisation__item.second {
    margin: 0;
  }

  .hero .contacts_icons .contact_icon {
    margin-right: 30px;
  }

  .hero .contacts_icons .contact_icon.fb {
    margin-right: 0;
  }

  .hero .contacts_icons {
    margin-top: 30px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 551px) {
  .hero__subtitle {
    font-size: 4rem;
  }

  .create__images-item {
    width: 45%;
  }

  .create__images-item .create__image-frame {
    padding: 5px;
  }

  .move {
    background: url("../img/move/move-lady.jpg") right top/50% no-repeat;
  }

  .contact_icon {
    margin-right: 20px;
  }
}

@media (max-wdth: 991px) {
  html {
    font-size: 8px;
  }
}
@supports (-webkit-appearance:none){
.header{background:url("../img/header/header-bg.webp") center/cover no-repeat}
.hero__text{background:url("../img/header/girl.webp") bottom right/90% no-repeat}
.support-wrapper{background:url("../img/support/support-bg.webp") right top/80% no-repeat}
.create{background:url("../img/create/create-bg.webp") top/cover no-repeat}
.create__discription .rules span::before{background:url(../img/create/icons/ins.svg)}
.create__discription .rules .li-0::before{background:url(../img/create/icons/0.svg)}
.create__discription .rules .li-1::before{background:url(../img/create/icons/1.svg)}
.create__discription .rules .li-2::before{background:url(../img/create/icons/2.svg)}
.create__discription .rules .li-3::before{background:url(../img/create/icons/3.svg)}
.create__discription .rules .li-4::before{background:url(../img/create/icons/4.svg)}
.create__discription .rules .li-5::before{background:url(../img/create/icons/5.svg)}
.move{background:url("../img/move/move-lady.webp") right top/30% no-repeat}
.fond{background:url("../img/fond/fond-bg.webp") center/cover no-repeat}
}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 997px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){
.hero__text{background:url("../img/header/girl.webp") bottom right/75% no-repeat}
.move{background:url("../img/move/move-lady.webp") right top/40% no-repeat}
}

}

 @media (max-width: 991px) and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.hero__text{background:url("")}
}

}

 @media (max-width: 551px){

@supports (-webkit-appearance:none){
.move{background:url("../img/move/move-lady.webp") right top/50% no-repeat}
}

}

 @media (max-wdth: 991px){

@supports (-webkit-appearance:none){

}

}
